.bezier-control-point
  fill: dodgerblue
  stroke: darken(dodgerblue, 20%)
  stroke-width 2

.bezier-control-arm
  stroke dodgerblue
  stroke-width 2px

.bezier-point,.bezier-handle
  fill: dodgerblue
  stroke: darken(dodgerblue, 20%)
  stroke-width 2px

.bezier-node
  circle.draggable
    cursor pointer
